* {
	font-family: sans-serif;
}

body {
    background: whitesmoke;
}

pre, code {
    font-family: monospace;
}

.bp-countdown {
    display: inline-block !important;
    width: 50%;
}

.bp-countdown li {
    display: inline-block;
    padding: 10px;
    background: lightgray;
    border-radius: 10px;
}

.cat {
    display: inline-block;
    padding: 5px;
    background: beige;
    border: 1px solid lightgray;
}